@{
    ViewBag.Title = "TaskType";
}

<div>
    <label id="successMessages" class="pos-text"></label>
</div>
<style>
    table input {
        font-size: 13px;
    }

    table.marbleTable thead th, table.marbleTable thead td {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    table.marbleTable tbody th, table.marbleTable tbody td {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
</style>
<table id="marbleTable" class="stripe row-border order-column marbleTable" style="width: 100%">
    <thead>
    <th>Task Type Id</th>
    <th>Task Type</th>
    <th>Task Type Name</th>
    <th>Requires Manager Approval</th>
    <th>Dispaly in POS</th>
    </thead>

    @foreach (var item in ViewBag.TaskType)
    {
        <tr onchange="UpdatedList(this)">
            <td> @item.TaskTypeId  </td>
            <td>
                <label>@item.TaskType</label>
            </td>
            <td>
                <label>@item.TaskTypeName</label>
            </td>
            <td>
                <input type="checkbox" @(item.RequiresManagerApproval ? "checked='checked'" : "") value="@item.RequiresManagerApproval" />
            </td>
            <td>
                <input type="checkbox" @(item.DispalyinPOS ? "checked='checked'" : "") value="@item.DispalyinPOS" />
            </td>
        </tr>
    }
</table>
<div class="action">
    <button class="btn btn-primary btn-md" role="button" onclick="SaveTaskType()">Save</button>
    <button class="btn btn-primary btn-md" role="button" onclick="event.preventDefault(); history.back();" id="back">Back</button>
    <button class="btn btn-primary btn-md" role="button" onclick="event.preventDefault(); window.location = '/Marble/Index'">Close</button>
</div>
<script>
    $(document).ready(function () {
        var table = $('#marbleTable').DataTable({
            scrollY: "400px",
            scrollX: true,
            scrollCollapse: true,
            editable: true,
            stateSave: true,
            // paging: true,
            bPaginate: false,
            bInfo: false,
            bFilter: false,
            bSort: false,
            rowCallback: function (row, data) {
                var element = $('td', row);
                element.on("change", function (e) {
                    UpdatedList($(this).parent().index());
                });
            }
        });
    });
    function SaveTaskType() {
        var taskTypes = [];
        var table = document.getElementById('marbleTable');
        for (var r = 1, n = table.rows.length; r < n; r++) {
            if (updatedArray.includes(r)) {
                taskTypes.push({
                    TaskTypeId: table.rows[r].cells[0].innerHTML,
                    RequiresManagerApproval: table.rows[r].cells[3].children[0].value,
                    DispalyinPOS: table.rows[r].cells[4].children[0].value
                });
            }
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("UpdateTaskType", "SiteSetup")',
            data: JSON.stringify({ taskTypes: taskTypes }),
            dataType: "json",
            success: function (data) {
                $('#successMessages').text('Data Saved Successfully');
            },
            error: function (e) {

                alert(e);
            }
        });
    }
    var updatedArray = [];
    function UpdatedList(index) {
        if (!updatedArray.includes(index)) {
            updatedArray.push(index);
        }
    }

</script>
