@{
    ViewBag.Title = "Limits";
    Layout = null;
}

<div style="background-color:lightblue;height: 500px;">
    </br>
<div id="valuesContainer">
   
      @foreach (var item in ViewBag.Transaction)
      {
          String type = item.Type.ToString();
          switch (type)
          {
              case "string":
               <div>                        
                            <div class="inputwrap demo">
                             <text> &nbsp; &nbsp; &nbsp;</text>   <label> <b>@item.Caption </b>:</label>
                     <input type="text" value="@item.Value" id="@item.Name" class="strings" name="myInput"/><br />

                            </div>
                    </div>

                  break;
                  case "bool":
                 
                     <div>
                          <div class="inputwrap demo">
                             <text> &nbsp; &nbsp; &nbsp;</text>  <label> <b>@item.Caption </b>:</label>
                       <input type="checkbox" value="@item.Value" class="checktrue strings" name="allcheck" id="@item.Name"/><br /> </div>

                
     </div>
                  break;
                  case"int":
                    <div>
                          <div class="inputwrap demo">
                         <text> &nbsp; &nbsp; &nbsp;</text>     <label> <b>@item.Caption </b>:</label>
                     <input type="number" value="@item.Value" class="strings" name="myInput" id="@item.Name"/><br /> </div>
                        </div>
                    
                  break;
                  
          }
                  
      }
       
  <button class="btn btn-primary btn-md button-pos" role="button" onclick="SaveTransaction()">Save</button>   
     <a href="/Product/ClosePopUp" class="btn btn-primary button-close">Close</a>
</div>
      
    </div>
<script>
    var appSettings = [];
    $('input[name=myInput]').change(function () {
        var d = {
            Name: this.id,
            Value: this.value,
            ScreenGroup: 'Transaction'
        };
        appSettings.push(d);
    });
    $('input[name=allcheck]').change(function () {
        debugger
        var d = {
            Name: this.id,
            Value: $(this).is(":checked"),
            ScreenGroup: 'Transaction'
        };
        appSettings.push(d);
    });
    function SaveTransaction() {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("UpdateAppSettings", "SiteSetup")',

            data: JSON.stringify({ appSettings: appSettings }),

                        dataType: "json",

                        beforeSend: function () { },

                        success: function (data) {
                            appSettings = [];
                          //  location.reload();
                            $('#displayMessage').text('data added succesfully').addClass('success');
                        }
                            });
   
    }
    $(document).ready(function () {
        $('input[name="allcheck"]').each(function (index) {
            debugger
            if ($(this).val().toLowerCase() == "true")

                ($(this).prop('checked', true));
        });
    });
</script>

<style>
    .defalut-width {
        width: 280px;
            height: 46px;
    }
    label {
    width:480px;
    clear:left;
    text-align:right;
    padding-right:10px;
}
      .button-pos {
        position: absolute;
    left: 290px;
    top: 533px;
    }
    .button-close {
        position: absolute;
    left: 795px;
    top: 533px;
    }

input,button, label,.ar {
    float:left;
}
</style>
