@{
    ViewBag.Title = "Discounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>WebgridSample</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () { 
        var id = 0;
        $('#disc').click(function () {

            $('#gridContent').show();
        })
        $('#DiscountAmount'+$("#grid tbody tr").length).on("keypress",function () {
            debugger

        })

        $("#gridContent").on('input', '[id^="DiscountAmount"]', function () {
        
            if ($("#DiscountAmount" + $("#grid tbody tr").length).val() == "") {
                $("#DiscountPercentage" + $("#grid tbody tr").length).removeAttr("disabled", "disabled");
            }
            else {
                $("#DiscountPercentage" + $("#grid tbody tr").length).attr("disabled", "disabled");
            }
        })

        $("#gridContent").on('input', '[id^="DiscountPercentage"]', function () {
          
            if ($("#DiscountPercentage" + $("#grid tbody tr").length).val() == "") {
                $("#DiscountAmount" + $("#grid tbody tr").length).removeAttr("disabled", "disabled");
            }
            else {
                $("#DiscountAmount" + $("#grid tbody tr").length).attr("disabled", "disabled").addClass('input-disabled');
            }
        })


        $(".add").click(function () {
        debugger
                var index = $("#grid tbody tr").length + 1;
                var DiscountId = "DiscountId" + index;
                var DiscountName = "DiscountName" + index;
                var DiscountAmount = "DiscountAmount" + index;
                var CouponMendatory = "CouponMendatory" + index;
                var DiscountPercentage = "DiscountPercentage" + index;
                var AutomaticApply = "AutomaticApply" + index;
                var ActiveFlag = "ActiveFlag" + index;
                var DisplayOrder = "DisplayOrder" + index;
                var LastUpdatedDate = "LastUpdatedDate" + index;
                var LastUpdatedUser = "LastUpdatedUser" + index;
                var ManagerApprovalRequered = "ManagerApprovalRequered" + index;
                var MinimumSaleAmount = "MinimumSaleAmount" + index;
                var MinimumUsedCredits = "MinimumUsedCredits" + index;
                var RemarkMendatory = "RemarkMendatory" + index;
                //var Save = "Save_" + index;
                //var Cancel = "Cancel_" + index;
                var tr = '<tr class="alternate-row"><td></td>'+

                     '<td><span> <input id="' + DiscountName + '" type="text" /></span></td>' +

                     '<td><span> <input id="' + DiscountAmount + '" type="text" /></span></td>' +
                           '<td><span> <input id="' + CouponMendatory + '" type="checkbox" /></span></td>' +
                     '<td><span> <input id="' + DiscountPercentage + '" type="text" /></span></td>' +
                      '<td><span> <input id="' + AutomaticApply + '" type="checkbox" /></span></td>' +
                          '<td><span> <input id="' + ActiveFlag + '" type="checkbox" /></span></td>' +
                     '<td><span> <input id="' + DisplayOrder + '" type="text" /></span></td>' +
                           '<td><span> <input id="' + LastUpdatedDate + '" type="text" /></span></td>' +
                                '<td><span> <input id="' + LastUpdatedUser + '" type="text" /></span></td>' +
                     '<td><span> <input id="' + ManagerApprovalRequered + '" type="checkbox" /></span></td>' +
                           '<td><span> <input id="' + MinimumSaleAmount + '" type="text" /></span></td>' +
                           '<td><span> <input id="' + MinimumUsedCredits + '" type="text" /></span></td>' +
                     '<td><span> <input id="' + RemarkMendatory + '" type="checkbox" /></span></td>' +
                '</tr>';

 

                $("#grid tbody").append(tr);
        });
    
    
        $('.grid-row').on("click", function (e) {
            debugger

            var id = $(this).closest("tr").find("td:first").html();
            var discountObject = {
                DiscountId: $("#DiscountId" + id).val(),

                DiscountName: $("#DiscountName" + id).val(),

                DiscountAmount: $("#DiscountAmount" + id).val(),

                CouponMendatory: $("#CouponMendatory" + id).is(':checked'),
                //  CouponMendatory : $("#CouponMendatory" + id).val(),
                DiscountPercentage: $("#DiscountPercentage" + id).val(),
                AutomaticApply: $("#AutomaticApply" + id).is(':checked'),
                DiscountAmount: $("#DiscountAmount" + id).val(),
                DiscountPercentage: $("#DiscountPercentage" + id).val(),
                DisplayOrder: $("#DisplayOrder" + id).val(),

                LastUpdatedDate: $("#LastUpdatedDate" + id).val(),
                LastUpdatedUser: $("#LastUpdatedUser" + id).val(),

                ManagerApproval: $("#ManagerApprovalRequered" + id).is(':checked'),
                DisplayInPOS: $("#DisplayInPOS" + id).is(':checked'),
                MinimumSaleAmount: $("#MinimumSaleAmount" + id).val(),
                MinimumUsedCredits: $("#MinimumUsedCredits" + id).val(),
                AutomaticApply: $("#AutomaticApply" + id).is(':checked'),
                RemarkMendatory: $("#RemarkMendatory" + id).is(':checked'),
                ActiveFlag: $("#ActiveFlag" + id).is(':checked'),
                Type:0
            }
            if (id != "") {

                $.ajax({

                    type: "POST",

                    contentType: "application/json; charset=utf-8",

                    url: '@Url.Action("SaveDiscount", "Discount")',

                    data: JSON.stringify({ data: discountObject }),

                    dataType: "json",

                    beforeSend: function () { },

                    success: function (data) {

                        location.reload();
                    }



                });
            }


        })
        $("#save").click(function () {
            debugger
             id = $("#grid tbody tr").length;
            var discountObject = {
                DiscountId : $("#DiscountId" + id).val(),

            DiscountName : $("#DiscountName" + id).val(),
           
            DiscountAmount: $("#DiscountAmount" + id).val(),
               
            CouponMendatory: $("#CouponMendatory" + id).is(':checked'),
          //  CouponMendatory : $("#CouponMendatory" + id).val(),
            DiscountPercentage : $("#DiscountPercentage" + id).val(),
            AutomaticApply: $("#AutomaticApply" + id).is(':checked'),
            DiscountAmount : $("#DiscountAmount" + id).val(),
            DiscountPercentage : $("#DiscountPercentage" + id).val(),
            DisplayOrder : $("#DisplayOrder" + id).val(),

            LastUpdatedDate : $("#LastUpdatedDate" + id).val(),
            LastUpdatedUser: $("#LastUpdatedUser" + id).val(),

            ManagerApproval: $("#ManagerApprovalRequered" + id).is(':checked'),
            DisplayInPOS: $("#DisplayInPOS" + id).is(':checked'),
            MinimumSaleAmount : $("#MinimumSaleAmount" + id).val(),
            MinimumUsedCredits : $("#MinimumUsedCredits" + id).val(),
            AutomaticApply: $("#AutomaticApply" + id).is(':checked'),
            RemarkMendatory: $("#RemarkMendatory" + id).is(':checked'),
            ActiveFlag: $("#ActiveFlag" + id).is(':checked'),

            };

            if (id != "") {

                $.ajax({

                    type: "POST",

                    contentType: "application/json; charset=utf-8",
                   
                    url: '@Url.Action("SaveDiscount", "Discount")',

                    data: JSON.stringify({ data: discountObject }),

                dataType: "json",

                beforeSend: function () { },

                success: function (data) {
                   
                    location.reload();
                }
            });
        }
        });
        })
    </script>
    <style type="text/css">
        .webGrid { margin: 4px; border-collapse: collapse; width: 500px;  background-color:#FCFCFC;}
        .header { background-color: #C1D4E6; font-weight: bold; color: #FFF; }
        .webGrid th, .webGrid td { border: 1px solid #C0C0C0; padding: 5px; }
        .alt { background-color: #E4E9F5; color: #000; }
        .gridHead a:hover {text-decoration:underline;}
        .description { width:auto}
        .select{background-color: #389DF5}
        .container {
    width: 30em;
    overflow-x: auto;
    white-space: nowrap;
}
        .position-btn {
            position: absolute;
            right: 505px;
            top: 183px;
            width:200px;
        }
        .edit:after {
          
  content: '\2807';
  font-size: 2em;
  color: #2e2e2e;
 
}
        .columnwidth {
            width:50px;
        }
        .name {
            width:20px;
        }
        .webGrid th, .webGrid td {
    border: 0px;
    padding: 5px;
}
        .grid-row {
            border-style: none;
        }
        
       
    </style>
</head>
<body>
@{
    Marbale.BusinessObject.Discounts product = new Marbale.BusinessObject.Discounts();
}
    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 3, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        grid.Pager(WebGridPagerModes.NextPrevious);}
        <div id="gridContent" style="overflow-x:scroll;overflow-y:hidden;width:987px">
            <a href="#" class="add">Add New Discount</a>
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header",
                htmlAttributes: new { id = "grid" },
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                 grid.Column("DiscountID", "DiscountID"),                   
                 grid.Column("DiscountName", format:  @<text><input name="textbox" type="text" class="grid-row" id="DiscountName@(item.DiscountID)" value="@(item.DiscountName)" /></text>),
                 grid.Column("DiscountAmount",format: @<text><input name="textbox" type="text" class="grid-row" id="DiscountAmount@(item.DiscountID)" value="@(item.DiscountAmount)" /></text>),
                 grid.Column("CouponMendatory", format: @<text><input name="chkbox" type="checkbox"@(item.CouponMendatory ? "checked='checked'" : "")  id="CouponMendatory@(item.DiscountID)" value="CouponMendatory" /></text>,style: "grid-row"),
                 grid.Column("DiscountPercentage",format: @<text><input name="textbox" type="text" class="grid-row" id="DiscountPercentage@(item.DiscountID)" value="@(item.DiscountPercentage)" /></text>),
                 grid.Column("AutomaticApply", format: @<text><input name="chkbox" type="checkbox"@(item.AutomaticApply ? "checked='checked'" : "") id="AutomaticApply@(item.DiscountID)" value="AutomaticApply" /></text>,style: "grid-row"),
                 grid.Column("ActiveFlag", format: @<text><input name="chkbox" type="checkbox"@(item.ActiveFlag ? "checked='checked'" : "") id="ActiveFlag@(item.DiscountID)" value="ActiveFlag" /></text>,style: "grid-row"),
                 grid.Column("DisplayOrder",format: @<text><input name="textbox" type="text" class="grid-row" id="DisplayOrder@(item.DiscountID)" value="@(item.DisplayOrder)" /></text>),
                 grid.Column("LastUpdatedDate",format: @<text><input name="textbox" type="text" class="grid-row" id="LastUpdatedDate@(item.DiscountID)" value="@(item.LastUpdatedDate)" /></text>),
                 grid.Column("LastUpdatedUser",format: @<text><input name="textbox" type="text" class="grid-row" id="LastUpdatedUser@(item.DiscountID)" value="@(item.LastUpdatedUser)" /></text>),
                 grid.Column("ManagerApprovalRequered", format: @<text><input name="chkbox" type="checkbox"@(item.ManagerApproval ? "checked='checked'" : "") id="ManagerApproval@(item.DiscountID)" value="ManagerApprovalRequered" /></text>,style: "grid-row"),
                 grid.Column("MinimumSaleAmount",format: @<text><input name="textbox" type="text" class="grid-row"id="MinimumSaleAmount@(item.DiscountID)" value="@(item.MinimumSaleAmount)" /></text>),
                grid.Column("MinimumUsedCredits",format: @<text><input name="textbox" type="text" class="grid-row" id="MinimumUsedCredits@(item.DiscountID)" value="@(item.MinimumUsedCredits)" /></text>),
                grid.Column("RemarkMendatory", format: @<text><input name="chkbox" type="checkbox"@(item.RemarkMendatory ? "checked='checked'" : "") id="RemarkMendatory@(item.DiscountID)" value="RemarkMendatory" /></text>,style: "grid-row")




         )) 
    @if (grid.HasSelection)
    {
        product = (Marbale.BusinessObject.Discounts)grid.Rows[grid.SelectedIndex].Value;
             <b>DiscountId</b> @product.DiscountID<br />
             <b>DiscountName</b>  @product.DiscountName<br />
             <b>DiscountAmount</b> @product.DiscountAmount<br />
             <b>CouponMendatory</b> @product.CouponMendatory<br />
                 <b>AutomaticApply</b> @product.AutomaticApply<br />
             <b>ActiveFlag</b>  @product.ActiveFlag<br />
             <b>DiscountPercentage</b> @product.DiscountPercentage<br />
             <b>DisplayInPOS</b> @product.DisplayInPOS<br />
        
          <b>DisplayOrder</b> @product.DisplayOrder<br />
             <b>LastUpdatedDate</b>  @product.LastUpdatedDate<br />
             <b>LastUpdatedUser</b> @product.LastUpdatedUser<br />
             <b>ManagerApprovalRequered</b> @product.ManagerApproval<br />
                 <b>MinimumSaleAmount</b> @product.MinimumSaleAmount<br />
             <b>MinimumUsedCredits</b>  @product.MinimumUsedCredits<br />
             <b>RemarkMendatory</b> @product.RemarkMendatory<br />
         
    }
    </div>     
      <div class="form-group">
      <div class="col-md-offset-4 col-md-8">
           <input type="submit" value="SAVE" class="btn btn-success position-btn" id="save" />
       </div>
  </div>
</body>
</html>

