@model Marbale.BusinessObject.ProductObject

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/product.css" rel="stylesheet" />
@if (Model.Id <= 0)
{
    <fieldset>
        <legend>Product</legend>

    @using (Html.BeginForm("Insert", "Product", FormMethod.Post))
    {
    <table class="formTable">
        <tr>
            <td><b style="padding-right: 10px">Name:</b></td>
            <td>@Html.TextBoxFor(m => m.Name, new { @Value = "Name", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">Price:</b></td>
            <td>@Html.TextBoxFor(m => m.Price, new { @Value = "Price", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">POSCounter:</b></td>
            <td>@Html.TextBoxFor(m => m.POSCounter, new { @Value = "POSCounter", @class = "red" })</td>
        </tr>
        <tr>
            <td><<b style="padding-right: 10px">TaxPercentage:</b></td>
            <td>@Html.TextBoxFor(m => m.TaxPercentage, new { @Value = "TaxPercentage", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">Price:</b></td>
            <td>@Html.TextBoxFor(m => m.Price, new { @Value = "Price", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">Category:</b></td>
            <td>@Html.TextBoxFor(m => m.Category, new { @Value = "Category", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">DisplayGroup:</b></td>
            <td>@Html.TextBoxFor(m => m.DisplayGroup, new { @Value = "DisplayGroup", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">EffectivePrice:</b></td>
            <td>@Html.TextBoxFor(m => m.EffectivePrice, new { @Value = "EffectivePrice", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">FinalPrice:</b></td>
            <td>@Html.TextBoxFor(m => m.FinalPrice, new { @Value = "FinalPrice", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">Type:</b></td>
            <td>@Html.TextBoxFor(m => m.Type, new { @Value = "Type", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">Active:</b></td>
            <td>@Html.CheckBoxFor(m => m.Active, new { @Value = "Active", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">OnlyVIP:</b></td>
            <td>@Html.CheckBoxFor(m => m.OnlyVIP, new { @Value = "OnlyVIP", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">TaxInclusive:</b></td>
            <td>@Html.CheckBoxFor(m => m.TaxInclusive, new { @Value = "TaxInclusive", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">DisplayInPOS:</b></td>
            <td>@Html.CheckBoxFor(m => m.DisplayInPOS, new { @Value = "DisplayInPOS", @class = "red" })</td>
        </tr>
        <tr>
            <td><b style="padding-right: 10px">AutoGenerateCardNumber:</b></td>
            <td>@Html.CheckBoxFor(m => m.AutoGenerateCardNumber, new { @Value = "AutoGenerateCardNumber", @class = "red" })</td>
        </tr>
    </table>

        <br />
         <input type="submit" name="submit" value="Save" />

    }
    </fieldset>
}

<script>
</script>
