@{
    ViewBag.Title = "ProductSetup";
    Layout =  "~/Views/Shared/_Layout.cshtml";
}
 
<link href="~/Content/css/product.css" rel="stylesheet" />

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow", ajaxUpdateContainerId: "productGrid");
        grid.Pager(WebGridPagerModes.NextPrevious);
}
 <div id="productGrid" class="marbleGrid">
       <a href="#" class="add">Add New Product</a>
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header",
                htmlAttributes: new { id = "grid" },
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(                
                grid.Column("Id", "Id"),
                grid.Column("edit",format: @<button onclick="EditProduct(@(item.Id))">|||</button>),               
                grid.Column("Name", format: @<text><input name="textbox" type="text" value="@(item.Name)" /></text>),
                grid.Column("Type", format: @<text><input name="textbox" type="text" value="@(item.Type)" /></text>),
                grid.Column("POSCounter",format: @<text><input name="textbox" type="text" value="@(item.POSCounter)" /></text>),
                grid.Column("Active", format: @<text><input name="chkbox" type="checkbox"@(item.Active ? "checked='checked'" : "") value="Active" /></text>),
                grid.Column("DisplayInPOS", format: @<text><input name="chkbox" type="checkbox"@(item.DisplayInPOS ? "checked='checked'" : "") value="DisplayInPOS" /></text>),
                grid.Column("DisplayGroup",format: @<text><input name="textbox" type="text" value="@(item.DisplayGroup)" /></text>),
                grid.Column("Category" ,format: @<text><input name="textbox" type="text" value="@(item.Category)" /></text>),
                grid.Column("AutoGenerateCardNumber",format: @<text><input name="chkbox" type="checkbox"@(item.AutoGenerateCardNumber ? "checked='checked'" : "") value="AutoGenerateCardNumber" /></text>),
                grid.Column("OnlyVIP",format: @<text><input name="chkbox" type="checkbox"@(item.OnlyVIP ? "checked='checked'" : "") value="OnlyVIP" /></text>),
                grid.Column("Price", format: @<text><input name="textbox" type="text" value="@(item.Price)" /></text>),
                grid.Column("FaceValue", format: @<text><input name="textbox" type="text" value="@(item.FaceValue)" /></text>),
                grid.Column("TaxInclusive", format: @<text><input name="chkbox" type="checkbox"@(item.TaxInclusive ? "checked='checked'" : "") value="TaxInclusive" /></text>),
                grid.Column("TaxPercentage",format: @<text><input name="textbox" type="text" value="@(item.TaxPercentage)" /></text>),
                grid.Column("FinalPrice", format: @<text><input name="textbox" type="text" value="@(item.FinalPrice)" /></text>),
                grid.Column("EffectivePrice",format: @<text><input name="textbox" type="text" value="@(item.EffectivePrice)" /></text>),
                grid.Column("LastUpdatedBy", "LastUpdatedUser"),
                grid.Column("LastUpdatedBy", "LastUpdatedDate"))
         )
    </div>   
<script>
    function EditProduct(id) {
        window.open("/product/GetProduct/"+id, "Marbale", "width=500,height=500");
    }
</script>
