@{
    ViewBag.Title = "ProductTypes";
}

<h2>ProductTypes</h2>
@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow", ajaxUpdateContainerId: "productTypeGrid");
    grid.Pager(WebGridPagerModes.NextPrevious);
}
 <a href="#" class="btn btn-primary btn-sml" role="button" onclick="AddType()">Add Type</a>
<div id="productTypeGrid" class="marbleGrid">
    @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header",
                htmlAttributes: new { id = "grid_productType"},
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                rowStyle: "gridrow",
                columns: grid.Columns(

                grid.Column("Id", "Id"),
                grid.Column("Description", format: @<text><input name="textbox" type="text" value="@(item.Description)" /></text>),
                grid.Column("Type", format: @<text><input name="textbox" type="text" value="@(item.Type)" /></text>),
                grid.Column("ReportGroup", format: @<text><input name="textbox" type="text" value="@(item.ReportGroup)" /></text>),
                grid.Column("Active", format: @<text><input name="chkbox" type="checkbox"@(item.Active ? "checked='checked'" : "")  value="Active" /></text>),
                grid.Column("CardSale", format: @<text><input name="chkbox" type="checkbox"@(item.CardSale ? "checked='checked'" : "") value="CardSale" /></text>),
                grid.Column("LastUpdatedDate", "LastUpdatedDate"),
                grid.Column("LastUpdatedBy", "LastUpdatedBy")

         ))
</div>
    <button class="btn btn-primary btn-md" id="save_productTypes" onclick="Save()">Save</button>


 <script>
        var modifiedListIndex = [];
        $(document).ready(function () {
            //$('.gridrow').on('change', function (x) {
            //    //var row_index = $(this).parent().index();
            //    if (modifiedListIndex.indexOf(x.rowIndex) === -1) {
            //        modifiedListIndex.push(x.rowIndex);
            //    }
            //});
        });
        function setRowIndex(x) {
            if (modifiedListIndex.indexOf(x.rowIndex) === -1) {
                modifiedListIndex.push(x.rowIndex);
            }
        }
        function AddType() {
            var index = $("#grid2 tbody tr").length + 1;
            var tr = '<tr class="gridrow" onchange= setRowIndex(this)><td></td>' +
                       '<td><input type="text" /></td>' +
                       '<td><input type="text" /></td>' +
                       '<td><input type="text" /></td>' +
                       '<td><input type="checkbox"/></td>' +
                       '<td><input type="checkbox"/></td>' +
                       '<td></td>' +
                       '<td></td>' +
            '</tr>';
            $("#grid_productType tbody").append(tr);
        }
        function Save() {

            var pTypes = [];
            var index = $("#grid_productType tbody tr").length;
            for (var i = 0; i < index; i++) {
                var htmlRow = $('#grid_productType tbody>tr')[i];

                var id = $($('td', htmlRow)[0]).text();

                var description = $($('td input', htmlRow)[0]).val();
                var type = $($('td input', htmlRow)[1]).val();
                var reportGroup = $($('td input', htmlRow)[2]).val();

                var active = $("td input[type='checkbox']", htmlRow)[0].checked;
                var cardSale = $("td input[type='checkbox']", htmlRow)[1].checked;

                pTypes.push({
                    Id: id, Description: description,
                    Type: type,
                    ReportGroup: reportGroup,
                    Active: active,
                    CardSale: cardSale
                });               
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateProductType", "Product")',
                    data: JSON.stringify({ productTypes: pTypes }),
                    dataType: "json",
                    success: function (data) {
                        alert('Data Saved');
                    },
                    error: function (e) {
                        alert(e);
                    }
           });
        }
 </script>




