<!DOCTYPE html>
<html>
<head>
    <title>Marbale Dashboard</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.css">
    <link href="~/Content/CSS/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/select.dataTables.css" rel="stylesheet" />
    <link href="~/Content/CSS/Material/meterialIcon.css" rel="stylesheet" />
    <link href="~/Content/DatetimePicker/jquery.datepicker2.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- Our Custom CSS -->
   
    @*<link href="~/Content/CSS/StyleSheet1.css" rel="stylesheet" />*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/JS/jquery.dataTables.js"></script>
    <script src="~/Content/JS/dataTables.fixedColumns.min.js"></script>
    <script src="~/Content/JS/dataTables.select.js"></script>
    <script src="~/Content/DatetimePicker/jquery.datepicker2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/JS/popper.min.js"></script>
    <script src="~/Content/JS/bootstrap.min.js"></script>
	 <link rel="stylesheet" href="~/Content/CSS/style.css">
    <link rel="stylesheet" href="~/Content/CSS/layout.css">
    <script defer src="~/Content/JS/fontawesome.solid.js"></script>
    <script defer src="~/Content/JS/fontawesome.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     @Scripts.Render("~/bundles/modernizr")

    <style>
        #snackbar, #snackbar-modal, #close-modal {
            visibility: hidden;
        }              

        .snackbar[data-type="success"] {
              background: linear-gradient(to bottom right,#28a745,#84b42d);
        }

        .snackbar[data-type="error"] {
              background: linear-gradient(to bottom right,#FF2A68,#FF5E3A);
        }

        #snackbar.show {
          visibility: visible;
          -webkit-animation: fadein 0.5s linear, fadeout 0.5s 4s;
          animation: fadein 0.5s linear, fadeout 0.5s linear 4s;
        }

        .snackbar {
            min-width: 312px;
            color: #f8f9fa;
            text-align: center;
            border-radius: 10px;
            position: fixed;
            z-index: 1;
            right: 2%;
            top: 12%;
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

       .snackbar-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .icon {
            font-size: 40px;
            padding-left: 15px;
            padding-right: 15px;
            display:flex;
        }

        .snackbar-message {
            align-content: center;
            text-align: start;
        }

        .close{
            position:absolute;
            top:5%;
            right:5%;
            color: lightgray;
        }

        ion-icon {
            --ionicon-stroke-width: 70px;
        }

        @@-webkit-keyframes fadein {
          from {right: -17%; opacity: 0;} 
          to {right: 2%; opacity: 1;}
        }

        @@keyframes fadein {
          from {right: -17%; opacity: 0;} 
          to {right: 2%; opacity: 1;}
        }

        @@-webkit-keyframes fadeout {
          from {right: 2%; opacity: 1;} 
          to {right: -17%; opacity: 0;}
        }

        @@keyframes fadeout {
          from {right: 2%; opacity: 1;} 
          to {right: -17%; opacity: 0;}
        }

        #snackbar-modal.show {
            visibility: visible;
            -webkit-animation: fadeintop 0.5s linear, fadeouttop 0.5s 4s;
            animation: fadeintop 0.5s linear, fadeouttop 0.5s linear 4s;
        }         

        @@-webkit-keyframes fadeintop {
            from {
                top: 0%;
                opacity: 0;
            }

            to {
                top: 12%;
                opacity: 1;
            }
        }

        @@keyframes fadeintop {
            from {
                top: 0%;
                opacity: 0;
            }

            to {
                top: 12%;
                opacity: 1;
            }
        }

        @@-webkit-keyframes fadeouttop {
            from {
                top: 12%;
                opacity: 1;
            }

            to {
                top: 0%;
                opacity: 0;
            }
        }

        @@keyframes fadeouttop {
            from {
                top: 12%;
                opacity: 1;
            }

            to {
                top: 0%;
                opacity: 0;
            }
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div style="cursor: pointer; float: right;margin: 10px 10px 0px 20px;">
            <div class="btn-group">
                <div class="btn-group dropleft" role="group">
                    <button type="button" style="border:none;line-height: 1;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons" style="cursor: pointer;font-size:40px">&#xe853;</i>
                        <br /><lable>@Session["UserID"]</lable>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Marble/changePassword">Change Password</a>
                        <a class="dropdown-item" href="/Marble/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <h3>Marbale Dashboard</h3>
            </div>

            <ul class="list-unstyled components">
                @if (((List<Marbale.BusinessObject.SiteSetup.AppModuleAction>)Session["Product"]).Count > 0)
                {
                    <li class="active">
                        <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick="setSession('productSubmenu')">Product</a>
                        <ul class="collapse list-unstyled" id="productSubmenu">
                            @foreach (var page in (List<Marbale.BusinessObject.SiteSetup.AppModuleAction>)Session["Product"])
                            {
                                <li>
                                    <a href="@page.URL">@page.Page</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if (((List<Marbale.BusinessObject.SiteSetup.AppModuleAction>)Session["Communication"]).Count > 0)
                {
                    <li class="active">
                        <a href="#gameSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick="setSession('gameSubmenu')">Communication</a>
                        <ul class="collapse list-unstyled" id="gameSubmenu">
                            @foreach (var page in (List<Marbale.BusinessObject.SiteSetup.AppModuleAction>)Session["Communication"])
                            {
                                if (page.Page == "Configurations")
                                {
                                    <li>
                                        <a href="#" onclick="DisplayPopUp('@page.Page','@page.URL')">@page.Page</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@page.URL">@page.Page</a>
                                    </li>

                                }
                            }
                        </ul>
                    </li>
                }
                @if (((List<Marbale.BusinessObject.SiteSetup.AppModuleAction>)Session["SiteSetup"]).Count > 0)
                {
                    <li class="active">
                        <a href="#siteSetupSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" onclick="setSession('siteSetupSubmenu')">Site Setup</a>
                        <ul class="collapse list-unstyled" id="siteSetupSubmenu">
                            @foreach (var page in (List<Marbale.BusinessObject.SiteSetup.AppModuleAction>)Session["SiteSetup"])
                            {
                                if (page.Page == "Product key")
                                {
                                    <li>
                                        <a href="#" onclick="DisplayPopUp('@page.Page','@page.URL')">@page.Page</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@page.URL">@page.Page</a>
                                    </li>

                                }
                            }
                        </ul>
                    </li>
                }
                @if (((List<Marbale.BusinessObject.SiteSetup.AppModuleAction>)Session["Cards"]).Count > 0)
                {
                    <li class="active">
                        <a href="#pageSubmenucards" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" onclick="setSession('pageSubmenucards')">Cards</a>
                        <ul class="collapse list-unstyled" id="pageSubmenucards">
                            @foreach (var page in (List<Marbale.BusinessObject.SiteSetup.AppModuleAction>)Session["Cards"])
                            {
                                if (page.Page != "View Card")
                                {
                                    <li>
                                        <a href="#" onclick="DisplayPopUp('@page.Page','@page.URL')">@page.Page</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@page.URL">@page.Page</a>
                                    </li>

                                }
                            }
                        </ul>
                    </li>
                }                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="Content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <b style="margin-left: 20px; font-family: sans-serif;">@ViewBag.Title</b>
                    </div>
                </div>
            </nav>

            <div id="pageContent">
                <div id="container" class="pageContent">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-centre">
            <div id="modelBody" class="modal-content">
            </div>
        </div>
    </div>

    <!------ SnackBar -->
    <div id="snackbar" class="snackbar">
        <div class="snackbar-container">
            <div class="icon"><ion-icon name="checkmark-circle"></ion-icon></div>
            <div class="snackbar-message">
                <div class="snackbar-header"><strong id="header">Success Message</strong></div>
                <div class="snackbar-content"><span id="message">Data Saved Successfully</span></div>
            </div>
            <div class="close"><a onclick="notifyClose()"><ion-icon name="close-outline"></ion-icon></a></div>
        </div>
    </div>

    <script type="text/javascript">
        function getCookie(name) {
            var cookies = document.cookie.split(';');
            for (var i = 0 ; i < cookies.length ; ++i) {
                var pair = cookies[i].trim().split('=');
                if (pair[0] == name)
                    return pair[1];
            }
            return null;
        }
        $(document).ready(function () {
            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

            var preSelectedValue = getCookie("PreviousExpandedDropDown");
            if (preSelectedValue) {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');  
                document.querySelector("a[href='#" + preSelectedValue + "']").click();                
                setSession(preSelectedValue);
            }
        });

        function DisplayPopUp(page,url) {
            $('#myModal').modal('show');
            if (page == "Product key" || page == 'Inventory') {
                $('#modelBody').css({
                    'width': 640,
                    'margin-top':70
                });
            } else {
                $('#modelBody').css({
                    'left': '-30%',
                    'width': 800,
                });
            }
            $('#modelBody').load(url);
        }

        $("#myModal").draggable({
            handle: ".modal-header"
        });

        function setSession(selectedId) {
            var preSelectedValue = getCookie("PreviousExpandedDropDown");
            if (preSelectedValue != selectedId) {
                document.cookie = "PreviousExpandedDropDown=" + selectedId;
            } else {
                document.cookie = "PreviousExpandedDropDown=";                
            }
        }

        function notify(dataType,header, message, callBack) {                    
            setTimeout(() => {
                notifyClose();
                if (callBack) {
                    callBack();
                }
            }, 4400);
            setSnackbarData(dataType, header, message);
            $('#snackbar').attr('data-type', dataType.toLowerCase());            
            $('#snackbar').addClass('show');            
            $('.close').css('visibility', 'visible');
        }
        
        function notifyClose() {
            $('#snackbar').removeClass('show');
            $('.close').css('visibility', 'hidden');
        }

        function notifyinmodal(dataType, header, message, callBack) {
            setTimeout(() => {
                notifyCloseinmodal();
                if (callBack) {
                    callBack();
                }
            }, 4400);
            setSnackbarData(dataType, header, message);
            $('#snackbar-modal').attr('data-type', dataType.toLowerCase())
            $('#snackbar-modal').addClass('show');
            $('#close-modal').css('visibility', 'visible');
        }

        function notifyCloseinmodal() {
            $('#snackbar-modal').removeClass('show');
            $('#close-modal').css('visibility', 'hidden');
        }

        function setSnackbarData(dataType, header, message) {
            switch (dataType.toLowerCase()) {
                case 'error':
                    $('.icon ion-icon').attr("name", "close-circle-outline");
                    break;
                case 'success':
                    $('.icon ion-icon').attr("name", "checkmark-circle");
                    break;
            }
            
            $('#header').html(header ? header : "Success Message");
            $('#message').html(message ? message : "Data Saved Successfully");            
        }
    </script>

</body>

</html>
