@{
    ViewBag.Title = "printTemplate";
    Layout = null;
}
<table id="marbleTable_printTemplateHeaders" class="stripe row-border order-column" style="width: 100%">
    <thead>
        <tr>
            <th>Template ID</th>
            <th>Template Name</th>
            <th>Font Name</th>
            <th>Font Size</th>
            <th>Preview</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PrintTemplateHeaders)
        {  
            <tr>
                <td>
                    <lable> @(item.TemplateId == 0 ? "" : item.TemplateId) </lable>
                </td>
                <td>
                    <input type="text" value="@item.TemplateName" />
                </td>
                <td>
                    <select name="fontName">
                        @foreach (var dow in ViewBag.FontNameList)
                        {
                            if (@item.FontName == @dow)
                            {
                            <option value="@dow" selected style="font-family:@dow">@dow</option>
                            }
                            else
                            {
                            <option value="@dow" style="font-family:@dow">@dow</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <input type="text" value="@(item.FontSize == 0 ? 8 : @item.FontSize)" />
                </td>
                <td>
                    <button>--</button></td>
                <td>
                    <button onclick="AddTemplateHeader()">Add</button></td>
            </tr>  
        }
    </tbody>
</table>
<script>
    var fontNameList = ['auto', 'cursive', 'fantasy', 'inherit', 'monospace', 'sans-serif', 'serif', 'unset'];
    var fontSizeList = ['8', '10', '12', '14', '16', '18', '20', '22', '24'];

    $(document).ready(function () {
        var table = $('#marbleTable_printTemplateHeaders').DataTable({
            scrollY: "400px",
            scrollX: true,
            scrollCollapse: true,
            editable: true,
            stateSave: true,
            bPaginate: false,
            bInfo: false,
            bFilter: false,
            bSort: false,
            "createdRow": function (row, data, index) {
                $('td', row).addClass('tblRow');
            },
            rowCallback: function (row, data) {
                var element = $('td', row);
                element.on("change", function (e) {
                    UpdatedList($(this).parent().index());
                });
            },
            initComplete: function (settings, json) {
            }
        });
        var counter = 1;

        $(".tblRow").on("change", function (e) { UpdatedList($(this).parent().index()); });
        $(".tblRow").on("click", function (e) { UpdatePrinterTemplateList($(this).parent().index()); });
    });
    function AddTemplateHeader() {
        $('#marbleTable_printTemplateHeaders').DataTable().row.add([
                '<lable></lable>',
                '<input type="text" value="" />',
                '<input type="text" value="" />',
                '<input type="text" value="" />',
                '<button>--</button>',
                '<button onclick="AddTemplateHeader()">Add</button>'
        ]).draw(false);
    }
    var updatedArray = [];
    var previousItem = -1;
    function UpdatedList(index) {
        if (!updatedArray.includes(index)) {
            updatedArray.push(index);
        }
    }
    function UpdatePrinterTemplateList(index) {
        if (index != previousItem) {
            var id = document.getElementById('marbleTable_printTemplateHeaders').rows[1].cells[0].children[0].innerHTML;
            if (id == null || id == undefined || id.trim() == '') {
                id = 0;
            }
            $('#templateData').load('/SiteSetup/PrintTemplateDataItems?headerId=' + id);
            previousItem = index;
        }
    }
    function SavePrinters() {
        var printers = [];
        var table = document.getElementById('marbleTable_printTemplateHeaders');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            if (updatedArray.includes(r)) {
                var rowIndex = r + 1;
                printers.push({
                    PrinterId: table.rows[rowIndex].cells[0].children[0].value,
                    PrinterName: table.rows[rowIndex].cells[1].children[0].value,
                    PrinterLocation: table.rows[rowIndex].cells[2].children[0].value,
                    IPAddress: table.rows[rowIndex].cells[3].children[0].value,
                    KDSTerminal: table.rows[rowIndex].cells[4].children[0].checked,
                    Remarks: table.rows[rowIndex].cells[5].children[0].value
                });
            }
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("UpdatePrinters", "SiteSetup")',
            data: JSON.stringify({ printers: printers }),
            dataType: "json",
            success: function (data) {
                alert('Data Saved');
                location.reload();
            },
            error: function (e) {
                alert(e);
            }
        });
    }
</script>
<div id="templateData">
</div>

<div class="action">
    <button class="btn btn-primary btn-md" role="button" onclick="SavePrinters()">Save</button>
    <button id="addRow" class="btn btn-primary btn-md" role="button">Add</button>
    <button class="btn btn-primary btn-md" role="button" onclick="history.back();" id="back">Back</button>
    <button class="btn btn-primary btn-md" role="button" onclick="location.href='/'">Close</button>
</div>

