
@model Marbale.BusinessObject.Cards.Inventory
@{
    ViewBag.Title = "Inventory";
    Layout = null;
}
<link href="~/Content/DatetimePicker/jquery.datepicker2.css" rel="stylesheet" />
<script src="~/Content/DatetimePicker/jquery.datepicker2.js"></script>
<style>
    #inventoryTabs {
        font-weight: 600;
    }
    .modal-body {
        font-size: 14px;
        font-family: system-ui;
    }
    #modelBody {
        width: 500px;
    }    
</style>

<div class="modal-header">
   <h5 class="modal-title" id="exampleModalLongTitle">Inventory</h5>
   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
 </div>
 <div class="modal-body">
    <ul class="nav nav-tabs" id="inventoryTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="addcardtab" data-toggle="tab" href="#tab1" role="tab" aria-controls="addCard" aria-selected="true">Add</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" id="deletecardtab" data-toggle="tab" href="#tab2" role="tab" aria-controls="deleteCard" aria-selected="false">Delete</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" id="viewInventirytab" data-toggle="tab" href="#tab3" role="tab" aria-controls="viewInventory" aria-selected="false">View</a>
        </li>
   </ul>
    <div class="tab-content" id="myTabContent"> 
        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
        <label for="ex4">User:</label>
     @Html.LabelFor(m => m.User,Model.User,new { @class = "form-control"}) 
        <label for="ex3">Recieved Date:</label>
     @Html.LabelFor(m => m.RecievedDate,Model.RecievedDate, new { @class = "form-control datepicker"})
        <label for="ex3">Number Of Cards:</label>
     @Html.TextBoxFor(m => m.NumberOfCards, new { @id="NumberOfCardsAdd", @class = "form-control"})
      <div class="modal-footer">
          <button class="btn btn-primary" onclick="AddInventory()">Submit</button>
          <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
       </div>
     </div>                        
        <div id="tab2" class="tab-pane fade">
                
        <label for="ex4">User:</label>
     @Html.LabelFor(m => m.User,Model.User, new { @class = "form-control"})
    
           
        <label for="ex3">Recieved Date:</label>
     @Html.LabelFor(m => m.RecievedDate,Model.RecievedDate, new { @class = "form-control datepicker"})
    
                 
        <label for="ex3">Number Of Cards:</label>
     @Html.TextBoxFor(m => m.NumberOfCards, new { @id="NumberOfCardsDel", @class = "form-control"})
      
        <div class="modal-footer">
           <button class="btn btn-primary" onclick="DeleteInventory()" >Submit</button>
           <button class="btn btn-primary" data-dismiss="modal" >Cancel</button>
        </div>
    </div>
        <div id="tab3" class="tab-pane fade">
         <div class="form-group row">
            <div class="col-md-5">                
                <lable>Till Date  </lable>
                    @Html.RadioButtonFor(model => model.TillDate, "Till Date", new { @checked="true"})  
              </div>
             <div class="col-md-5"> 
                 <lable>For Period </lable> 
                @Html.RadioButtonFor(model => model.TillDate, "For Period")  
             </div>               
           </div>  
        
        <div class="form-group row">
             <div class="col-md-5">
                @Html.TextBoxFor(m => m.From,new {@class="form-control", type = "date",placeholder ="From Date"})
             </div>
             <div class="col-md-5">
                @Html.TextBoxFor(m => m.To, new {@class="form-control", type = "date",placeholder ="To Date"})
             </div>                
        </div>  
       <div class="modal-footer">
          <button class="btn btn-primary" onclick="SubmitInventory()">Submit</button>
          <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
        </br>
          <table id="cardtableinventory" class="table marbleTable">
           <thead class="thead-dark">
            <th>Number Of Cards</th>
            <th>Action</th>
            <th>Action Date</th>
            <th>Action By</th>
            </thead>
            <tbody></tbody>
           </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            @Html.LabelFor(m => m.NumberOfCards, "Card inventory till date :")
            <label for="lblCardInventoryTillDate"></label>
        </div>
        <div class="col">
            @Html.LabelFor(m => m.NumberOfCards, "Card balance in stock :")
            <label for="lblCardBalanceInStock"></label>
        </div>
   </div>
    @{
      <input type="hidden" id="Totalcards" value="@ViewBag.TotalNumberOfCards"/>
     }
   
</div>

<script >

    $("document").ready(function () {
        var totalcards = $('#Totalcards').val();
        $("label[for='lblCardInventoryTillDate']").text(totalcards);
    });
    $('input:radio').click(function () {
        if ($(this).val() === 'For Period') {
            $('.datepickers').show();
        } else {
            $('.datepickers').hide();
        }
    });
    function SubmitInventory() {
        var myObject = {
            From: $('#From').val(),
            To: $('#To').val()
        };
        var url = '@Url.Content("~/Cards/GetInventory")';
        $.getJSON(url, myObject, function (data) {
            $("#cardtableinventory tbody").html('');
            var html;
            $.each(data, function (i, item) {
                html += "<tr><td>" + item.NumberOfCards + "</td>";
                html += "<td>" + item.ActionName + "</td>";
                html += "<td>" + item.ActionDateString + "</td>";
                html += "<td>" + item.ActionBy + "</td>";
            });
            $("#cardtableinventory tbody").html(html);
        });

    }  


    function AddInventory() {
        var inventory = {
            NumberOfCards: $('#NumberOfCardsAdd').val(),
            ActionName: "Add"
        };
        var url = '@Url.Content("~/Cards/AddDeleteInventory")';
        $.getJSON(url, inventory, function (data) {
            $("label[for='lblCardInventoryTillDate']").text(data);
        });
    }

   function DeleteInventory() {
        var inventory = {
            NumberOfCards: $('#NumberOfCardsDel').val(),
            ActionName: "Reduce"
        };
        var url = '@Url.Content("~/Cards/AddDeleteInventory")';
        $.getJSON(url, inventory, function (data) {
            $("label[for='lblCardInventoryTillDate']").text(data);
        });
   }

   $('.dropdown-toggle').collapse({
       toggle: false
   });
</script>

