@{
    ViewBag.Title = "Hubs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table input {
        font-size: 13px;
    }
    table.marbleTable thead th, table.marbleTable thead td{
        padding-top:0px !important;
        padding-bottom:0px !important;
    }

    table.marbleTable tbody th, table.marbleTable tbody td{
        padding-top:0px !important;
        padding-bottom:0px !important;
    }
</style>
<div>
    <!-- Modal -->
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="false"
         aria-hidden="true" style="top:10%">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 900px; height: 612px;left:50%;bottom:20px" id="newproductmodel">                
                <div class="modal-body" id="modelbody" style="position: absolute;">
                </div>
            </div>
        </div>
    </div>
</div>
<table id="marbleTable" class="stripe row-border order-column marbleTable">
    <thead>
    <th>ID</th>
    <th width="13%">Name</th>
    <th width="12%">Address</th>
    <th width="13%">Frequency</th>
    <th width="11%">Note</th>
    <th width="9%">Active</th>
    <th width="11%">MacAddress</th>
    <th width="11%">IPAddress</th>
    <th width="11%">TCP Port</th>
    <th width="11%">Config</th>
    </thead>
    @foreach (var item in ViewBag.hubDetails)
    {
        <tr onchange="UpdatedList(this)">
            <td>
                <lable class="fixedCol1">@(item.Id == 0 ? "" : item.Id) </lable>
            </td>
            <td>
                <input class="fixedCol2" type="text" value="@item.Name" />
            </td>
            <td>
                <input type="text" value="@item.Address" style="width:9vw" />
            </td>
            <td>
                <input type="text" value="@item.Frequency" style="width:8vw" />
            </td>
            <td>
                <input type="text" value="@item.Note" />
            </td>
            <td>
                <input type="checkbox" @(item.Active ? "checked='checked'" : "") value="@item.Active" />
            </td>
            <td>
                <input type="text" value="@item.MacAddress" style="width:8vw" />
            </td>
            <td>
                <input type="text" value="@item.IPAddress" style="width:8vw" />
            </td>
            <td>
                <input type="text" value="@item.TCPPort" style="width:8vw" />
            </td>
            <td>
                <button onClick="ConfigureHub(@item.Id)" style="width: 40%;min-width: 0px;">-</button>
            </td>
        </tr>

    }
</table>
<div class="action">
    <button class="btn btn-primary btn-md" role="button" onclick="SaveHubs()">Save</button>
    <button class="btn btn-primary btn-md" role="button" id="addRow">Add</button>
    <button class="btn btn-primary btn-md" role="button" onclick="event.preventDefault();  history.back();" id="back">Back</button>
    <button class="btn btn-primary btn-md" role="button" onclick="event.preventDefault(); window.location = '/Marble/Index'">Close</button>

</div>
@*<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').collapse({
            toggle: false
        });
    })
    $(document).ready(function () {
        var table = $('#marbleTable').DataTable({
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            editable: true,
            stateSave: true,
            // paging: true,
            bPaginate: false,
            bInfo: false,
            bFilter: false,
            bSort: false,
            "createdRow": function (row, data, index) {
                $('td', row).addClass('tblRow');
            },
            rowCallback: function (row, data) {
                var element = $('td', row);
                element.on("change", function (e) {
                    UpdatedList($(this).parent().index());
                });
            },
            //order: [[ 0, "desc" ]],
            fixedColumns: {
                leftColumns: 2
            }
        });
        var counter = 1;

        $('#addRow').on('click', function () {
            var fixedcolumn1values = $('.DTFC_Cloned lable.fixedCol1');
            var fixedcolumn2values = $('.DTFC_Cloned input.fixedCol2');
           
            table.row.add([
                '<lable class="fixedCol1"></lable>',
                '<input class="fixedCol2" type="text" value="" />',
                '<input type="text" value="" style="width:9vw"/>',
                '<input type="text" value="" style="width:8vw"/>',
                '<input type="text" value="" />',
                '<input type="checkbox" />',
                '<input type="text" value="" style="width:8vw"/>',
                '<input type="text" value="" style="width:8vw"/>',
                '<input type="text" value="" style="width:8vw"/>',
                '<button disabled style="width: 40%;min-width: 0px;" >-</button>',
            ]).draw(false);

            for (var i = 0, j = fixedcolumn1values.length; i < j; i++) {
                $('.DTFC_Cloned lable.fixedCol1')[i].innerHTML = fixedcolumn1values[i].innerHTML;
            }
            for (var i = 0, j = fixedcolumn2values.length; i < j; i++) {
                $('.DTFC_Cloned input.fixedCol2')[i].value = fixedcolumn2values[i].value;
            }
            $(".dataTables_scrollBody").animate({ scrollTop: $(".dataTables_scrollBody").height() }, 1000);
        });
        $(".tblRow").on("change", function (e) { UpdatedList($(this).parent().index()); });        
    });

    
    function SaveHubs() {
        if (updatedArray.length > 0) {
            var hubs = [];
            var table = document.getElementById('marbleTable');
            var fixedcolumn1 = $('.DTFC_Cloned lable.fixedCol1');
            var fixedcolumn2 = $('.DTFC_Cloned input.fixedCol2');

            for (var r = 0, n = table.rows.length; r < n; r++) {
                if (updatedArray.includes(r)) {
                    var rowIndex = r + 1;
                    hubs.push({
                        Id: fixedcolumn1[r].innerHTML,
                        Name: fixedcolumn2[r].value,
                        Address: table.rows[rowIndex].cells[2].children[0].value,
                        Frequency: table.rows[rowIndex].cells[3].children[0].value,
                        Note: table.rows[rowIndex].cells[4].children[0].value,
                        Active: table.rows[rowIndex].cells[5].children[0].checked,
                        MacAddress: table.rows[rowIndex].cells[6].children[0].value,
                        IPAddress: table.rows[rowIndex].cells[7].children[0].value,
                        TCPPort: table.rows[rowIndex].cells[8].children[0].value,
                    });
                }
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateHubs", "Game")',
                data: JSON.stringify({ hubs: hubs }),
                dataType: "json",
                success: function (data) {
                    notify('success', 'Success Message', 'Data Saved Successfully', () => {
                        location.reload();
                    });
                },
                error: function (e) {
                    notify('error', 'Error Message', 'Error in server');
                }
            });
        }
    }
    var updatedArray = [];
    function UpdatedList(index) {
        if (!updatedArray.includes(index)) {
            updatedArray.push(index);
        }
    }

    function ConfigureHub(id) {
        window.localStorage.setItem("currentWindow", "hub");
        $('#myModal').modal('show');
        $('#myModal').css({
            'top': '15%'
        });
        //$('#modelBody').css({
        //    'left': '-40%',
        //    'width': 900
        //});        
        $('#modelBody').load('/game/Configuration');                  
    }
</script>
